In [1]:
import numpy
from numpy import arange
from matplotlib import pyplot
from pandas import read_csv
from pandas import set_option
from pandas.tools.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error

ModuleNotFoundError: No module named 'pandas.tools'

In [2]:
# Load dataset
filename = 'datamart-export.csv'
dataset = read_csv(filename, delim_whitespace=False)

In [3]:
print("Number of NaN values in the dataset is "+str(dataset.isnull().sum().sum()))

Number of NaN values in the dataset is 1315633

In [4]:
print("Number of duplicate values in the dataset is "+str(sum(dataset.duplicated())))

Number of duplicate values in the dataset is 0

In [5]:
print(dataset.shape)

(369264, 13)

In [15]:
# types
print(dataset.dtypes)

Report Date            object
Purchase Type          object
Selling Basis          object
Class                  object
Grade                  object
Head Count             object
Weight Range Low       object
Weight Range High      object
Average Weight         object
Dressed Percentage    float64
Price Range Low       float64
Price Range High      float64
Weighted Avg Price    float64
dtype: object

In [6]:
# head
print(dataset.head(20))

   Report Date Purchase Type Selling Basis                   Class  \
0   09/04/2020   FORMULA NET          Live      Mixed Steer/Heifer
1   09/04/2020   FORMULA NET          Live      Mixed Steer/Heifer
2   09/04/2020   FORMULA NET          Live      Mixed Steer/Heifer
3   09/04/2020   FORMULA NET          Live      Mixed Steer/Heifer
4   09/04/2020   FORMULA NET          Live                   Steer
5   09/04/2020   FORMULA NET          Live                   Steer
6   09/04/2020   FORMULA NET          Live                   Steer
7   09/04/2020   FORMULA NET          Live                   Steer
8   09/04/2020   FORMULA NET          Live                  Heifer
9   09/04/2020   FORMULA NET          Live                  Heifer
10  09/04/2020   FORMULA NET          Live                  Heifer
11  09/04/2020   FORMULA NET          Live                  Heifer
12  09/04/2020   FORMULA NET          Live  Dairybred Steer/Heifer
13  09/04/2020   FORMULA NET          Live  Dairybred Steer/Heifer
14  09/04/2020   FORMULA NET          Live  Dairybred Steer/Heifer
15  09/04/2020   FORMULA NET          Live  Dairybred Steer/Heifer
16  09/04/2020   FORMULA NET          Live  Mixed Steer/Heifer/Cow
17  09/04/2020   FORMULA NET          Live  Mixed Steer/Heifer/Cow
18  09/04/2020   FORMULA NET          Live  Mixed Steer/Heifer/Cow
19  09/04/2020   FORMULA NET          Live  Mixed Steer/Heifer/Cow

              Grade Head Count Weight Range Low Weight Range High  \
0   Over 80% Choice        162            1,348             1,348
1   65 - 80% Choice        144            1,256             1,256
2   35 - 65% Choice        NaN              NaN               NaN
3    0 - 35% Choice        NaN              NaN               NaN
4   Over 80% Choice      1,289            1,380             1,574
5   65 - 80% Choice        711            1,242             1,520
6   35 - 65% Choice      1,515            1,094             1,618
7    0 - 35% Choice        NaN              NaN               NaN
8   Over 80% Choice        915            1,207             1,426
9   65 - 80% Choice        838            1,107             1,482
10  35 - 65% Choice        274            1,171             1,341
11   0 - 35% Choice        NaN              NaN               NaN
12  Over 80% Choice        154            1,335             1,421
13  65 - 80% Choice        107            1,389             1,389
14  35 - 65% Choice        NaN              NaN               NaN
15   0 - 35% Choice        NaN              NaN               NaN
16  Over 80% Choice        NaN              NaN               NaN
17  65 - 80% Choice        NaN              NaN               NaN
18  35 - 65% Choice        NaN              NaN               NaN
19   0 - 35% Choice        NaN              NaN               NaN

   Average Weight  Dressed Percentage  Price Range Low  Price Range High  \
0           1,348                63.2           106.00            106.00
1           1,256                64.4           106.75            106.75
2             NaN                 NaN              NaN               NaN
3             NaN                 NaN              NaN               NaN
4           1,515                63.9           106.00            107.66
5           1,412                64.2           104.90            108.04
6           1,340                64.5           103.00            108.04
7             NaN                 NaN              NaN               NaN
8           1,330                64.0           106.00            106.04
9           1,252                64.5           105.12            107.75
10          1,273                63.9           105.00            107.04
11            NaN                 NaN              NaN               NaN
12          1,369                58.9            86.63             97.09
13          1,389                61.0            91.00             91.00
14            NaN                 NaN              NaN               NaN
15            NaN                 NaN              NaN               NaN
16            NaN                 NaN              NaN               NaN
17            NaN                 NaN              NaN               NaN
18            NaN                 NaN              NaN               NaN
19            NaN                 NaN              NaN               NaN

    Weighted Avg Price
0               106.00
1               106.75
2                  NaN
3                  NaN
4               106.33
5               106.64
6               106.17
7                  NaN
8               106.00
9               106.35
10              105.73
11                 NaN
12               95.80
13               91.00
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN

In [7]:
# descriptions
set_option('precision', 1)
print(dataset.describe())

       Dressed Percentage  Price Range Low  Price Range High  \
count            154388.0         212019.0          212019.0
mean                 62.6            146.7             157.0
std                   1.7             41.2              45.1
min                  30.0              4.8              59.6
25%                  61.7            120.0             127.0
50%                  63.1            138.9             149.4
75%                  63.8            176.3             190.8
max                  83.4            350.0             380.0

       Weighted Avg Price
count            212019.0
mean                152.0
std                  42.9
min                  58.9
25%                 124.0
50%                 144.5
75%                 184.6
max                 350.0

In [10]:
dataset2 = dataset
for col in ['Purchase Type', 'Selling Basis', 'Class', 'Grade', 'Head Count', 'Weight Range Low', 'Weight Range High']:
    dataset[col] = dataset[col].astype('category')

In [37]:
dataset[['Purchase Type', 'Selling Basis', 'Class', 'Grade', 'Head Count', 'Weight Range Low', 'Weight Range High']].apply(lambda x: x.astype('category'))

,Purchase Type,Selling Basis,Class,Grade,Head Count,Weight Range Low,Weight Range High
0,FORMULA NET,Live,Mixed Steer/Heifer,Over 80% Choice,162,"1,348","1,348"
1,FORMULA NET,Live,Mixed Steer/Heifer,65 - 80% Choice,144,"1,256","1,256"
2,FORMULA NET,Live,Mixed Steer/Heifer,35 - 65% Choice,NaN,NaN,NaN
3,FORMULA NET,Live,Mixed Steer/Heifer,0 - 35% Choice,NaN,NaN,NaN
4,FORMULA NET,Live,Steer,Over 80% Choice,"1,289","1,380","1,574"
...,...,...,...,...,...,...,...
369259,FORMULA NET,Live,Mixed Steer/Heifer/Cow,0 - 35% Choice,NaN,NaN,NaN
369260,FORMULA NET,Live,Dairybred Steer/Heifer,Over 80% Choice,107,"1,307","1,394"
369261,FORMULA NET,Live,Dairybred Steer/Heifer,65 - 80% Choice,NaN,NaN,NaN
369262,FORMULA NET,Live,Dairybred Steer/Heifer,35 - 65% Choice,NaN,NaN,NaN
369263,FORMULA NET,Live,Dairybred Steer/Heifer,0 - 35% Choice,NaN,NaN,NaN

In [8]:
cols = ['Purchase Type', 'Selling Basis', 'Class', 'Grade', 'Head Count', 'Weight Range Low', 'Weight Range High']
dataset[cols] = dataset[cols].astype('category')

In [11]:
dataset

,Report Date,Purchase Type,Selling Basis,Class,Grade,Head Count,Weight Range Low,Weight Range High,Average Weight,Dressed Percentage,Price Range Low,Price Range High,Weighted Avg Price
0,09/04/2020,FORMULA NET,Live,Mixed Steer/Heifer,Over 80% Choice,162,"1,348","1,348","1,348",63.2,106.0,106.0,106.0
1,09/04/2020,FORMULA NET,Live,Mixed Steer/Heifer,65 - 80% Choice,144,"1,256","1,256","1,256",64.4,106.8,106.8,106.8
2,09/04/2020,FORMULA NET,Live,Mixed Steer/Heifer,35 - 65% Choice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09/04/2020,FORMULA NET,Live,Mixed Steer/Heifer,0 - 35% Choice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09/04/2020,FORMULA NET,Live,Steer,Over 80% Choice,"1,289","1,380","1,574","1,515",63.9,106.0,107.7,106.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369259,NaN,FORMULA NET,Live,Mixed Steer/Heifer/Cow,0 - 35% Choice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369260,NaN,FORMULA NET,Live,Dairybred Steer/Heifer,Over 80% Choice,107,"1,307","1,394","1,337",NaN,55.3,66.0,62.3
369261,NaN,FORMULA NET,Live,Dairybred Steer/Heifer,65 - 80% Choice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369262,NaN,FORMULA NET,Live,Dairybred Steer/Heifer,35 - 65% Choice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369263,NaN,FORMULA NET,Live,Dairybred Steer/Heifer,0 - 35% Choice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN